# Add libraries

In [1]:
import pandas as pd

# Import data

In [16]:
customer = pd.read_csv('D:/customer_analysis/customer_analysis/raw_data/marketing_campaign.csv', sep="\t")

# Working on data

## Head and Tail

In [25]:
customer.head(5).style.background_gradient(cmap='PuBu')

In [27]:
customer.tail().style.background_gradient(cmap='PuBu')

## Get more information about columns

### Information about year of birth **(Year_Birth)**

In [33]:
customer.Year_Birth.min()

1893

In [30]:
customer.Year_Birth.max()

1996

### Information about **Education**

In [31]:
customer.Education.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

### Information about marital status **(Marital_Status)**

In [32]:
customer.Marital_Status.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

### Information about number of kids at home **(Kidhome)**

In [34]:
customer.Kidhome.unique()

array([0, 1, 2], dtype=int64)

### Information about number of teenagers at home **(Teenhome)**

In [37]:
customer.Teenhome.unique()

array([0, 1, 2], dtype=int64)

### Calculating the total number of children **(Total_Children)**

In [38]:
customer['Total_Children'] = customer['Kidhome'] + customer['Teenhome']

In [43]:
customer['Total_Children'].unique()

array([0, 2, 1, 3], dtype=int64)

### Information about customer enrollment **(Dt_Customer)**

In [71]:
customer['Dt_Customer'] = pd.to_datetime(customer['Dt_Customer'], format='%d-%m-%Y')

In [73]:
customer['Dt_Customer'].min()

Timestamp('2012-07-30 00:00:00')

In [74]:
customer['Dt_Customer'].max()

Timestamp('2014-06-29 00:00:00')