# Add libraries

In [1]:
import pandas as pd
import seaborn as sn

# Import data

In [16]:
customer = pd.read_csv('D:/customer_analysis/customer_analysis/raw_data/marketing_campaign.csv', sep="\t")

# Data Exploration

## Basic information

### Head and Tail

In [85]:
customer.head().style.background_gradient(cmap='PuBu')

In [27]:
customer.tail().style.background_gradient(cmap='PuBu')

In [ ]:
customer['Recency'].mean()

49.109375

### Describe table

In [81]:
customer.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Total_Children
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,2013-07-10 10:01:42.857142784,49.109375,303.935714,26.302232,166.950000,...,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107,0.950446
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,2012-07-30 00:00:00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,2013-01-16 00:00:00,24.000000,23.750000,1.000000,16.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,2013-07-08 12:00:00,49.000000,173.500000,8.000000,67.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000,1.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,2013-12-30 06:00:00,74.000000,504.250000,33.000000,232.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000,1.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,2014-06-29 00:00:00,99.000000,1493.000000,199.000000,1725.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000,3.000000
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,NaN,28.962453,336.597393,39.773434,225.715373,...,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274,0.751803

## Get more information about columns

### Information about year of birth **(Year_Birth)**

In [33]:
customer.Year_Birth.min()

1893

In [30]:
customer.Year_Birth.max()

1996

### Information about **Education**

In [31]:
customer.Education.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

### Information about marital status **(Marital_Status)**

In [32]:
customer.Marital_Status.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

### Information about number of kids at home **(Kidhome)**

In [34]:
customer.Kidhome.unique()

array([0, 1, 2], dtype=int64)

### Information about number of teenagers at home **(Teenhome)**

In [37]:
customer.Teenhome.unique()

array([0, 1, 2], dtype=int64)

### Calculating the total number of children **(Total_Children)**

In [38]:
customer['Total_Children'] = customer['Kidhome'] + customer['Teenhome']

In [43]:
customer['Total_Children'].unique()

array([0, 2, 1, 3], dtype=int64)

### Information about customer enrollment **(Dt_Customer)**

In [87]:
customer['Dt_Customer'] = pd.to_datetime(customer['Dt_Customer'], format='%d-%m-%Y')

In [73]:
customer['Dt_Customer'].min()

Timestamp('2012-07-30 00:00:00')

In [74]:
customer['Dt_Customer'].max()

Timestamp('2014-06-29 00:00:00')

### Information about last purchase **(Recency)**

In [75]:
customer['Recency'].min()

0

In [76]:
customer['Recency'].max()

99

In [77]:
customer['Recency'].mean()

49.109375

In [78]:
customer['Recency'].median()

49.0

# Start analysing data